## <span id="{{anchor}}"></span> `{{name}}`

{{{natspec.devdoc}}}

{{#functions}}
- [`{{name}}({{args}})`][{{anchor}}]
{{/functions}}

{{#events}}
- [`{{name}}({{args}})`][{{anchor}}]
{{/events}}
{{#ownFunctions}}

### <span id="{{anchor}}"></span> `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}})

{{{natspec.devdoc}}}
{{/ownFunctions}}
{{#ownEvents}}

### <span id="{{anchor}}"></span> `{{name}}({{args}})`

{{{natspec.devdoc}}}
{{/ownEvents}}
