## <span id="{{anchor}}"></span> `{{name}}`

{{{natspec.userdoc}}}

{{{natspec.devdoc}}}

{{#modifiers}}
- [`{{name}}({{args}})`][{{anchor}}]
{{/modifiers}}
{{#functions}}
- [`{{name}}({{args}})`][{{anchor}}]
{{/functions}}
{{#events}}
- [`{{name}}({{args}})`][{{anchor}}]
{{/events}}

{{#ownModifiers}}
### <span id="{{anchor}}"></span> `{{name}}({{args}})`

{{{natspec.userdoc}}}

{{{natspec.devdoc}}}

{{/ownModifiers}}
{{#ownFunctions}}
### <span id="{{anchor}}"></span> `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}})

{{{natspec.userdoc}}}

{{{natspec.devdoc}}}

{{/ownFunctions}}
{{#ownEvents}}
### <span id="{{anchor}}"></span> `{{name}}({{args}})`

{{{natspec.userdoc}}}

{{{natspec.devdoc}}}

{{/ownEvents}}
