## <span id="{{anchor}}"></span> `{{name}}`

{{{linebreaks natspec.devdoc}}}

{{#modifiers}}
- [`{{name}}({{args}})`][{{anchor}}]
{{/modifiers}}
{{#functions}}
- [`{{name}}({{args}})`][{{anchor}}]
{{/functions}}
{{#events}}
- [`{{name}}({{args}})`][{{anchor}}]
{{/events}}
{{#ownModifiers}}
### <span id="{{anchor}}"></span> `{{name}}({{args}})`

{{{linebreaks natspec.devdoc}}}

{{/ownModifiers}}
{{#ownFunctions}}
### <span id="{{anchor}}"></span> `{{name}}({{args}}){{#if outputs}} → {{outputs}}{{/if}}` ({{visibility}})

{{{linebreaks natspec.devdoc}}}

{{#if natspec.params.length}}
#### *Parameters*
{{/if}}
{{#natspec.params}}
- **{{{param}}}**: {{{description}}}
{{/natspec.params}}

{{#if natspec.returns.length}}
#### *Returns*
{{/if}}
{{#natspec.returns}}
- **{{{param}}}**: {{{description}}}
{{/natspec.returns}}

{{/ownFunctions}}
{{#ownEvents}}
### <span id="{{anchor}}"></span> `{{name}}({{args}})`

{{{linebreaks natspec.devdoc}}}

{{/ownEvents}}
